<html>

<head>
	<title>sharetrace</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/public/assets/css/main.css" />
	<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
			<style type="text/css">#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
			</style>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165600971-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-165600971-1');
	</script>
</head>

<body class="is-preload">

	<!-- Header -->
	<div id="header">
		<span class="logo icon">
			<a href="/"><img src="/public/images/sharetrace-logo.png" style="border-radius: 50%; width: 288px;" /></a>
		</span>
		<h1 style="display: none;">
			sharetrace
		</h1>
		<p>
			<a href="/">home</a> | <a href="/news">news</a> | <a href="/privacy">privacy policy</a> | <a href="/faq">faq</a> | <a href="https://github.com/SafeTrace-community/info/blob/master/ShareTrace%20-%20WhitePaper_may3.pdf">white paper</a> 
			| <a href="/contact">contact</a> |
		</p>
	</div>

	<!-- Main -->
	<div id="main">

		<header class="major container medium">
			<h2>
				INFECTION RISK:
				<br />
				DYNAMIC. SOCIAL.
				<br />
				ANONYMOUS. YOURS.
			</h2>
			<p >
				SHARETRACE PROVIDES YOU WITH COVID-19 RISK SCORES BASED ON THE SYMPTOMS AND INTERACTIONS REPORTED BY THOSE AROUND THEM. WE GIVE INDIVIDUALS AND COMMUNITIES THE TOOLS TO TACKLE THE PANDEMIC.

			</p>
			<p>
				Download sharetrace for <a href="https://www.sharetrace.org/news?p=we-are-ready-for-alpha-testers-for-an-early-version-of-our-ios-app">iOS</a> or <a href="https://www.sharetrace.org/news?p=safetrace-recruiting-alpha-testers-for-android-application">Android</a>
		</header>

		<div class="box alt container">
			<section class="feature left">
				<a class="image icon solid">
					<img src="/public/images/location.svg" alt="" />
				</a>
				<div class="content">
					<h3>Why use ShareTrace?</h3>
					<p>
						Contact tracing is key to the fight against the pandemic - but it is not enough.<br /><br />We help individuals and organisations understand their risk of exposure to Covid-19 with a clear and dynamic interface.<br /> <br />Gain the security to get back to work and social life.
					</p>
				</div>
			</section>
			<section class="feature right">
				<a class="image icon solid">
					<img src="/public/images/secure.svg" alt="" />
				</a>
				<div class="content">
					<h3>Ethical, Anonymous, User-controlled</h3>
					<p>
						Our users own their data, because Sharetrace stores what it needs in Personal Data Accounts (PDAs) owned and controlled by each user. <a href="https://dataswift.io/" target="_blank">Learn more about PDAs</a><br /><br />ShareTrace can compute private risk scores and network risk models for them, all privately and anonymously. No data is stored by ShareTrace.
					</p>
				</div>
			</section>
			<section class="feature left">
				<a class="image icon solid">
					<!-- fa-mobile-alt -->
					<img src="/public/images/notification.svg" alt="" />
				</a>
				<div class="content">
					<h3>YOUR SOCIAL EXPOSURE SCORE: PROTECT YOUR COMMUNITY</h3>
					<p>
						Using the risk updates provided to the SafeTrace app by our anonymous network graph model, users can understand how likely they are to have met an infected person, or themselves to be asymptomatic carriers of Covid-19. With this knowledge, they can better protect their communities
					</p>
				</div>
			</section>
			<section class="feature right">
				<a class="image icon solid">
					<!-- fa-mobile-alt -->
					<img src="/public/images/handwash.svg" alt="" />
				</a>
				<div class="content">
					<h3>The ShareTrace White Paper</h3>
					<p>
						Read the ShareTrace technology white paper for information and insights on Personal Data Accounts, our privacy preserving back end architecture, and our exciting network model.<br /></br />
						<a href="https://github.com/SafeTrace-community/info/blob/master/ShareTrace%20-%20WhitePaper_may3.pdf" target="_blank">Read our White Paper</a>
					</p>
				</div>
			</section>
		</div>
	</div>

	<!-- Footer -->
	<div id="footer">
		<div class="container medium">
			<p><a href="https://xd.adobe.com/view/ab7ad9ed-ad5b-4e2b-6815-ffe134fc5254-dd4b/grid">latest app for testing</a> | <a href="https://docs.google.com/forms/d/e/1FAIpQLSfYHUtJxW6ksZPISQPB3jqi9R-Vqe7oxFgalJjT28lOV08PaQ/viewform?usp=sf_link">user feedback form</a>
			| <a href="/privacy">privacy policy</a> | <a href="/contact">contact</a> 
			</p>
			<ul class="icons">
				<li><a href="https://twitter.com/sharetrace_app" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/SafeTrace-111329340543957" class="icon brands fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="https://www.linkedin.com/company/42695383" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>				<li><a target="_blank" href="https://github.com/SafeTrace-community" class="icon brands fa-github"><span class="label">Github</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; sharetrace. All rights reserved.</li>
			</ul>
		</div>
	</div>

	<!-- Scripts -->
	<script src="/public/assets/js/jquery.min.js"></script>
	<script src="/public/assets/js/browser.min.js"></script>
	<script src="/public/assets/js/breakpoints.min.js"></script>
	<script src="/public/assets/js/util.js"></script>
	<script src="/public/assets/js/main.js"></script>
	<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/400ef4e98962c39dc4c6fa342/3213c4c1796b14704b08bd792.js");</script>

</body>

</html>
