<!DOCTYPE HTML>
<html>

<head>
	<title>SafeTrace | The Trace</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/public/assets/css/main.css" />
</head>

<body class="is-preload">

	<!-- Header -->
	<div id="header">
		<span class="logo icon">
			<img src="/public/images/safetrace-logo.png" style="border-radius: 50%; width: 288px;" />
		</span>
		<h1 style="display: none;">
			The Trace
		</h1>
	</div>

	<!-- Main -->
	<div id="main">
  
		<header class="major container medium">
			<h2>
				The Trace
			</h2>
			<p>
				News and information on contact tracing and risk
			</p>
		</header>

	<!-- Footer -->
	<div id="footer">
		<div class="container medium">

			<header class="major last">
				<h2>Questions or comments?</h2>
			</header>

			<p>
				If you have questions or comments that you would like to share with us, <br />
				please use the form below to send us an email.
			</p>

			<form method="post" action="#" id="contact-form">
				<div class="row">
					<div class="col-6 col-12-mobilep">
						<input type="text" name="name" placeholder="Name" />
					</div>
					<div class="col-6 col-12-mobilep">
						<input type="email" name="email" placeholder="Email" />
					</div>
					<div class="col-12">
						<textarea name="message" placeholder="Message" rows="6"></textarea>
					</div>
					<div class="col-12">
						<ul class="actions special">
							<li><input type="submit" id="form-sumit-button" value="Send Message" /></li>
						</ul>
					</div>
				</div>
			</form>

			<ul class="icons">
				<!-- <li><a href="" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li> -->
				<li><a target="_blank" href="https://github.com/SafeTrace-community" class="icon brands fa-github"><span class="label">Github</span></a></li>
			</ul>

			<ul class="copyright">
				<li>&copy; SafeTrace. All rights reserved.</li>
			</ul>

		</div>
	</div>
  
  <div id="dib-posts">
  </div>
  
	<!-- Scripts -->
	<script src="/public/assets/js/jquery.min.js"></script>
	<script src="/public/assets/js/browser.min.js"></script>
	<script src="/public/assets/js/breakpoints.min.js"></script>
	<script src="/public/assets/js/util.js"></script>
	<script src="/public/assets/js/main.js"></script>
  <script> var dib_id = 'Y2U5M0J9EAOYXWQ5S1HQ'; </script>
  <script src="https://dropinblog.com/js/embed.js"></script>

</body>

</html>
