<!DOCTYPE HTML>
<html>

<head>
	<title>SafeTrace | Privacy</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/public/assets/css/main.css" />
</head>

<body class="is-preload">

	<!-- Header -->
	<div id="header">
		<span class="logo icon">
			<a href="/"><img src="/public/images/safetrace-logo.png" style="border-radius: 50%; width: 288px;" /></a>
		</span>
		<h1>Privacy and Terms of Service</h1>
	</div>

	<!-- Main -->
	<div id="main">
		<div class="box container">
			<section>
				<p>SafeTrace is an open-source application and website supported by <a href="https://www.hat-lab.org">HAT-LAB</a>, <a href="https://weatherhead.case.edu/centers/xlab/">Case Western Reserve University</a>, and <a href="https://www.dataswift.io">Dataswift</a>. This privacy policy will explain how these organizations use personal data when you use our website and applications.<br /></p>
				<header>What data do we collect?<br /></header>
				<p>SafeTrace collects some basic personal identification information, like your email address, etc, when you create a personal data account. SafeTrace also collects basic profile information like your personal data account address. SafeTrace further collects your location information and allows you to store it privately inside your personal data account.</p>
				<header>How SafeTrace collects data<br /></header>
				<p>You directly provide SafeTrace with some of the data we collect, and we collect some data from your device mobile. We collect data and process data when you:</p>
		  	<ul>
				<li>Register or join our waiting list online</li>
          			<li>Create an account using the SafeTrace application for iOS and Android.</li>
				<li>Use or view our website via your browser’s cookies.</li>
			</ul>
			<header> How will we use your data?<br /></header>
			<p>SafeTrace collects your data so that we can:</p>
			<ul>
				<li>Add you to the SafeTrace waiting list.</li>
				<li>Safely help you track your locations information privately in your personal data account. </li>
				<li>Share your data with our partner companies so that they may offer you their products and services: <a href="https://www.dataswift.io">Dataswift Ltd</a></li>
			</ul>
		        <header>How do we store your data?<br /></header>
		        <ul>
				<li>SafeTrace securely stores your email addresses with Mailchimp</li>
				<li>SafeTrace does not store your location data anywhere. The application takes locations information from your phone and places it privately in your personal data account, pulling it from there as needed to show it to you privately in your SafeTrace application.</li>
			</ul>
			<header>Changes to our privacy policy<br /></header>
			<p>SafeTrace keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 21 April 2020.</p>
			<header>How to contact us<br /></header>
			<p>If you have any questions about this privacy policy, the data SafeTrace holds on you, or you would like to exercise one of your data protection rights, please do not hesitate to <a href="/contact">contact us</a>.</p>
			</section>
		</div>
	</div>
  
	<!-- Footer -->
	<div id="footer">
		<div class="container medium">
			<ul class="icons">
				<!-- <li><a href="" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li> -->
				<li><a target="_blank" href="https://github.com/SafeTrace-community" class="icon brands fa-github"><span class="label">Github</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; SafeTrace. All rights reserved.</li>
	  		</ul>
		</div>
	</div>
  
</body>

</html>
