<!DOCTYPE html>
<html>

<head>
  <title> sharetrace | Contact</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/public/assets/css/main.css" />
</head>
<style>
  #footer {
    background-size: 4000px 200px;
    margin-top: -25px;
    padding: calc(184px + 2em) 0 2em 0;
  }

    #footer:before {
      height: calc(184px + 2em);
    }

    #footer form {
      padding-bottom: 0;
    }
</style>

<body class="is-preload">

  <!-- Header -->
  <div id="header">
    <span class="logo icon">
      <a href="/"><img src="/public/images/sharetrace-logo.png" style="border-radius: 50%; width: 288px;" /></a>
    </span>
    <h1>
      Contact
    </h1>
  </div>
  <br></br>
  <h3>Reach out!</h3>

  <div class="container">
  <form action="mailto: info@sharetrace.org" method="post" enctype="text/plain">
    <label for="name">Name or Organization</label>
    <input type="text" id="name" name="name" placeholder="John Doe">

    <label for="email">Email address</label>
    <input type="text" id="email" name="email" placeholder="youremail@address.com">

    <label for="subject">Let's work together!</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:240px"></textarea>

    <!--<button type="button">Click Me!</button>-->
    <div><input type="submit" value="Submit"></div>
  </form>
  </div>

  <!-- Footer -->
  <div id="footer">
    <div class="container medium">
      <p><a href="https://xd.adobe.com/view/ab7ad9ed-ad5b-4e2b-6815-ffe134fc5254-dd4b/grid">latest app for testing</a> | <a href="https://docs.google.com/forms/d/e/1FAIpQLSfYHUtJxW6ksZPISQPB3jqi9R-Vqe7oxFgalJjT28lOV08PaQ/viewform?usp=sf_link">user feedback form</a>
      | <a href="/privacy">privacy policy</a> | <a href="/contact">contact</a> 
      </p>
      <ul class="icons">
        <li><a href="https://twitter.com/sharetrace_app" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/SafeTrace-111329340543957" class="icon brands fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.linkedin.com/company/42695383" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>        <li><a target="_blank" href="https://github.com/SafeTrace-community" class="icon brands fa-github"><span class="label">Github</span></a></li>
      </ul>
      <p>
        <a href="/">home</a> | <a href="/news">news</a> | <a href="/privacy">privacy policy</a>
      </p>
      <ul class="copyright">
        <li>&copy; sharetrace. All rights reserved.</li>
      </ul>
    </div>
  </div>
  
  <!-- Scripts -->
  <script src="/public/assets/js/jquery.min.js"></script>
  <script src="/public/assets/js/browser.min.js"></script>
  <script src="/public/assets/js/breakpoints.min.js"></script>
  <script src="/public/assets/js/util.js"></script>
  <script src="/public/assets/js/main.js"></script>
  <script> var dib_id = 'Y2U5M0J9EAOYXWQ5S1HQ'; </script>
  <script src="https://dropinblog.com/js/embed.js"></script>


</body>
</html>